<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")  %>
<body>
    <div class="container-main">
        <%- include("../partials/nav.ejs")  %>
        <h2><%= title %></h2>
        <% if (title === "Log In") { %>
            <%- include("../partials/login.ejs")  %>
        <% } %>
        <% if(title === "Sign Up") { %>
            <%- include("../partials/signup.ejs")  %>
        <% } %>
        <% if(title === "Reset Password") { %>
            <%- include("../partials/passwordReset.ejs")  %>
        <% } %>
        <% if(title === "Verify OTP") { %>
            <%- include("../partials/emailOtp.ejs")  %>
        <% } %>
        <%- include("../partials/footer.ejs")  %>
    </div>
</body>
</html>
